<!-- <mat-toolbar>
    <div class="flex mt-5 justify-center items-center">  
        <mat-toolbar-row class="flex-1">
        <span class="w-30 h-14 fill-black">DashBoard</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="">Feed</span>
        </mat-toolbar-row>
        <mat-toolbar-row class="justify-end mr-5">
            <span class="">Profile</span>
        </mat-toolbar-row>
    </div>
</mat-toolbar>   -->

<mat-toolbar class="bg-white shadow-md flex justify-between items-center">
  <div class="flex space-x-4">
    <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a mat-button routerLink="/feed" routerLinkActive="active" >Feed</a>
  </div>
  <div class="flex items-center space-x-2">
    <a
      mat-button
      routerLink="/profile"
      class="flex flex-row items-center justify-center"
    >
      <img
        src="assets/images/Media.png"
        class="w-12 h-12 rounded-full mr-2"
      />
      <!-- <p class="mt-1">Profile</p> -->
    </a>
  </div>
</mat-toolbar>

@for (post of posts; track $index) {
<div class="post-container">
  <a routerLink="/feed" class="cursor-pointer">
    <mat-card class="post-card">
      <!-- Card Header with Title and Created Date -->
      <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>{{
          post.createdDate | date : "longDate"
        }}</mat-card-subtitle>
      </mat-card-header>
      <!-- Card Content with Post Description -->
      <mat-card-content>
        <p>{{ post.postDescription }}</p>
      </mat-card-content>

      <!-- Card Actions (optional for likes/comments etc.) -->
      <!-- <mat-card-actions>
        <button mat-button>Like</button>
      </mat-card-actions> -->
    </mat-card>
  </a>
</div>
}
